.details {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto auto;
  position: relative;
}

.product {
  max-width: 100%;
  align-items: center;
}

@media (max-width: 500px) {
  .details {
    grid-template-columns: auto;
  }
}
